################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CASE26_projekt/.vs/CASE26_projekt/copilot-chat/c3737330/sessions
